{
        servers :443 {
                metrics
        }
}

:9999 {
        metrics /metrics
}

https://{$SERVER_DOMAIN}:443 {
        redir /.well-known/carddav /remote.php/dav 301
        redir /.well-known/caldav /remote.php/dav 301

        # Set recommended Security Response Headers
        # https://cheatsheetseries.owasp.org/cheatsheets/HTTP_Headers_Cheat_Sheet.html
        header {
                Cross-Origin-Embedder-Policy: "require-corp"
                Cross-Origin-Opener-Policy: "same-origin"
                Cross-Origin-Resource-Policy "same-site"
                Permissions-Policy "interest-cohort=()"
                Referrer-Policy "no-referrer"
                Strict-Transport-Security "max-age=63072000; includeSubDomains"
                X-Content-Type-Options "nosniff"
                X-Download-Options "noopen"
                X-Frame-Options "SAMEORIGIN"
                X-Permitted-Cross-Domain-Policies "none"
                X-Robots-Tag "noindex, nofollow"
                X-XSS-Protection: "1; mode=block"
                -server
                -x-powered-by
                -x-request-id
        }

        route /push/* {
                uri strip_prefix /push
                reverse_proxy http://nc-app:7867
        }

        # Disable access to some /var/www/html folders and files
        @forbidden {
                path /.htaccess
                path /.user.ini
                path /3rdparty/*
                path /AUTHORS
                path /COPYING
                path /config/*
                path /console.php
                path /cron.php
                path /data/*
                path /lib/*
                path /nextcloud-init-sync.lock
                path /occ
                path /resources/*
                path /themes/*
                path /version.php
        }
        respond @forbidden 404

        root * /var/www/html
        php_fastcgi nc-app:9000 {
              # enable pretty urls
              env front_controller_active true
        }
        file_server
}

